/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* custom font */
@font-face {
    font-family: 'Hiragino Sans';
    src: url('fonts/Hiragino\ Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HiraginoSansGBw6';
    src: url('fonts/HiraginoSansGBw6.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


/* General Layout */
body {
    background-color: black;
    color: white;
    font-family: 'HiraginoSansGBw6', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Content for index.html */
.content {
    position: relative;
    z-index: 1;
    color: white; /* Ensures text is white */
    text-align: center;
    padding-top: 20%;
}

/* Styling for the login form */
form {
    background-color: rgba(0, 0, 0, 0.7); /* Transparent black for form background */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black; /* Ensures text inside input fields is black for readability */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #800000; /* Burgundy */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a52a2a; /* Lighter shade of burgundy */
}

/* Optional: Adjustments for labels */
label {
    font-size: 16px;
    font-weight: bold;
}

/* Optional: Styling the heading */
h1 {
    font-size: 2em;
    font-weight: normal;
}

/* Video background */
#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Places the video behind the content */
}
