/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F2EDE1;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 2em;
    color: #80001A; /* Burgundy */
    text-align: center;
    margin-top: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

/* Chatbox Styles */
.chat-box {
    background-color: #C2B097;
    border-radius: 10px;
    padding: 10px;
    max-height: 400px;  /* Fix height of chatbox */
    overflow-y: auto;  /* Scroll if content overflows */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    word-wrap: break-word;  /* Break long words to prevent overflow */
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 75%;
    word-wrap: break-word;
    white-space: pre-wrap;  /* Preserve whitespace and line breaks in the text */
}

.message.user {
    background-color: #FFFFFF;
    align-self: flex-end;
    text-align: right;
}

.message.bot {
    background-color: #FFFFFF;
    align-self: flex-start;
}

/* Input Section Styles */
.input-section {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: #D1C0A6;
    padding: 10px;
    border-radius: 10px;
}

.input-section textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    overflow: hidden;
    min-height: 40px;
}

/* Button Styles */
.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    flex: 1;
    margin: 5px;
    padding: 10px;
    color: #FFFFFF;
    background-color: #80001A;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}

.button.disabled {
    opacity: 0.5;
    pointer-events: none;
}
